@import "../../colors.scss";

.contact-me {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
}

.contact-me > a {
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;

  height: 60px;
  width: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5px;
  font-size: 45px;

  border-radius: 100px;

  cursor: pointer;

  transition: box-shadow 0.05s linear;
}

.my-infos {
  margin-top: 95px;
  text-align: center;
}
