@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

body {
  margin: 0;
  font-family: "Goldman", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
